body{
	font-size: 14px;
	padding-top:65px;	
}
.header-background{
	background-image: url(../images/header_bg.jpg);
	margin-top: -30px;
	height: 600px;
	z-index: -1;
}
.header-background .header-text {
	color:#fff;
}
